<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Отчёт о телеметрии системы</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/c3.min.css" rel="stylesheet" type="text/css">

    <style type="text/css">
    </style>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.min.js" charset="utf-8"></script>
    <script src="js/c3.js"></script>

    <script src="../../report.js"></script>
    <script src="js/generated.js"></script>

    <script src="js/consts.js"></script>
    <script src="js/localization.js"></script>

    <script src="js/drawers/cpu.js"></script>
    <script src="js/drawers/mem.js"></script>
    <script src="js/drawers/disk.js"></script>

    <script src="js/graphs_drawers.js"></script>
    <script src="js/telemetry_logger.js"></script>
</head>
<body>
    <h1>Телеметрия</h1>
    <div id="content" class="panel-group" role="tablist" aria-multiselectable="true">
    </div>
</body>
</html>